<html>
  <head>
    <title>IJF</title>
    $webResourceManager.requireResource("com.idealfed.utils.idealworklogs:idealworklogs-resources5")
   
    <metaname="decorator"content="atl.admin"/>

  <script>
      g_username = "$ijfUsername";
      g_version = "$ijfVersion";
      g_iwfFormSetId = "firstFormSet";
      g_formId = "$ijfFormId";
      g_itemId = "$ijfItemId";
      g_debug =  "$ijfDebug";
      g_root = "$ijfRoot";
      g_imagesRoot = g_root + "/download/resources/com.idealfed.utils.idealworklogs:idealworklogs-resources5/images/";
      g_args =  '';
      g_craft = "$ijfCraft";
      g_dashboard = '';
      g_configDir = 'IJF_Configuration';            
      g_IftProduct = "$ijfProduct";    
      g_IftRepo = "$ijfProductRepo";  
      g_IftRuntime = "server";
      
     
  </script>

</head>
<body>
<div style="width:998px;margin-left:3px;border-top: 2px solid darkblue; border-radius: 5px;border-left: 2px solid darkblue; border-radius: 5px;border-right: 2px solid darkblue; border-radius: 5px;" >
<table width=100% style=" background-color: #157fcc; border-bottom: 3px solid darkblue">
   <tr style="background-color: #157fcc;">
      <td style="width:15%"></td>
      <td style=" text-align: center; font-size: 16px; font-weight:bold; color:#fff; font-family:helvetica, arial, verdana, sans-serif; padding-left: -150px;">
         Ideal Forms for JIRA
         <a style="font-size: 10pt;color:white;" href="https://www.idealfed.com/index.html" target="_blank"> click here for more</a><br/>
      </td>
      <td align="right" style="width:15%"><img style="margin-right:10px" width="42px" height="auto" src="https://www.idealfed.com/images/idf.png"></td>
   </tr>
</table>
<table width=100% style="background-color: #f1f1f1;border-bottom: 3px solid darkblue">
   <tr>
	 <td style="cursor: pointer;" onClick="javacript:window.location.href='/plugins/servlet/iftwl?decorator=admin&mode=forms'" onMouseOver="this.style.backgroundColor='#ffffff'" onMouseOut="this.style.backgroundColor='#f1f1f1'" >
		<table>
		   <td  style="text-align: center;"> <img width="42" height="42" style="opacity:0.25" src="https://fonts.gstatic.com/s/i/materialicons/build/v6/24px.svg"> </td>
		   <td> <b style="text-align: left; font-size: 1rem; line-height: 2; color:#000030; font-family: 'Merriweather',serif; Arial; font-weight: 700;"> Forms Admin</b></td>
		</table>
	 </td> 
	 <td style="cursor: pointer;" onClick="javacript:window.location.href='/plugins/servlet/iftwl?decorator=admin&mode=reports'" onMouseOver="this.style.backgroundColor='#ffffff'" onMouseOut="this.style.backgroundColor='#f1f1f1'" >
		<table>
		   <td  style="text-align: center;"> <img width="42" height="42" style="opacity:0.25" src="https://fonts.gstatic.com/s/i/materialicons/description/v6/24px.svg"> </td>
		   <td> <b style="text-align: left; font-size: 1rem; line-height: 2; color:#000030; font-family: 'Merriweather',serif; Arial; font-weight: 700;"> Reports Admin</b></td>
		</table>
	 </td>	 
	 <td style="cursor: pointer;" onClick="javacript:window.location.href='/plugins/servlet/iftwl?decorator=admin&mode=admin'" onMouseOver="this.style.backgroundColor='#ffffff'" onMouseOut="this.style.backgroundColor='#f1f1f1'" >
		<table>
		   <td  style="text-align: center;"> <img width="42" height="42" style="opacity:0.25" src="https://fonts.gstatic.com/s/i/materialicons/settings/v6/24px.svg"> </td>
		   <td> <b style="text-align: left; font-size: 1rem; line-height: 2; color:#000030; font-family: 'Merriweather',serif; Arial; font-weight: 700;"> Utilities</b></td>
		</table>
	 </td>	 
	 <td style="cursor: pointer;" onClick="javacript:window.location.href='/plugins/servlet/iftwl?decorator=admin&mode=library'" onMouseOver="this.style.backgroundColor='#ffffff'" onMouseOut="this.style.backgroundColor='#f1f1f1'" >
		<table>
		   <td  style="text-align: center;"> <img width="42" height="42" style="opacity:0.25" src="https://fonts.gstatic.com/s/i/materialicons/table_view/v3/24px.svg"> </td>
		   <td> <b style="text-align: left; font-size: 1rem; line-height: 2; color:#000030; font-family: 'Merriweather',serif; Arial; font-weight: 700;"> Forms Library</b></td>
		</table>
	 </td>		 
   </tr>
</table>
</div>

<div id = 'ijfOuterContainer'>
  <div id='ijfHead' class='cwf-header'></div>
  <div id='ijfContent'  class='cwf-content'></div>
  <div id='ijfFoot' class='cwf-footer'></div>
</div>
<div id='ijfManage'></div>
<div id='ijfJsonUpload'></div>
<div id='ijfCraft1'></div>
<div id='ijfAdmin1'></div>
<div id='ijfDebug'></div>
#disable_html_escaping()
<script type="text/javascript">
var ijf = ijf || {};
ijf.snippets = (function(){
var enabled=true;
$ijfScript
return{
enabled:enabled
$ijfSnippetPub
};
})();
</script>
<style>
$ijfStyle
</style>
</body>
</html>