<html>
  <head>
    <title>IJF</title>
    $webResourceManager.requireResource("com.idealfed.utils.idealworklogs:idealworklogs-resources5")
   
    <metaname="decorator"content="atl.general"/>

  <script>
      g_username = "$ijfUsername";
      g_version = "$ijfVersion";
      g_iwfFormSetId = "firstFormSet";
      g_formId = "$ijfFormId";
      g_itemId = "$ijfItemId";
      g_debug =  "$ijfDebug";
      g_root = "$ijfRoot";
      g_imagesRoot = g_root + "/download/resources/com.idealfed.utils.idealworklogs:idealworklogs-resources5/images/";
      g_args =  '';
      g_craft = "$ijfCraft";
      g_dashboard = '';
      g_configDir = 'IJF_Configuration';
             g_IftProduct = "$ijfProduct";         
      g_IftRepo = "$ijfProductRepo";   
      g_IftRuntime = "server";
      //document on ready here.. init or load and then init...
   
			
  </script>

</head>
<body>
<div id = 'ijfOuterContainer'>
  <div id='ijfHead' class='cwf-header'></div>
  <div id='ijfContent'  class='cwf-content'></div>
  <div id='ijfFoot' class='cwf-footer'></div>
</div>
<div id='ijfManage'></div>
<div align='right' id='ijfJsonUpload'></div>
<div id='ijfCraft1'></div>
<div id='ijfCraft2'></div>
<div id='ijfAdmin1'></div>
<div id='ijfAdmin2'></div>
<div id='ijfAdmin3'></div>
<div id='ijfAdmin4'></div>
<div id='ijfDebug'></div>
#disable_html_escaping()
<script type="text/javascript">
var ijf = ijf || {};
ijf.snippets = (function(){
var enabled=true;
$ijfScript
return{
enabled:enabled
$ijfSnippetPub
};
})();
</script>
<style>
$ijfStyle
</style>
</body>
</html>