<html>
  <head>
    <title>IJF</title>

    <metaname="decorator"content="atl.general"/>

</head>
<body>

<h2>Sorry but only system administrators can design Ideal Forms for JIRA.</h2>

</body>
</html>